<p>Saludos, {{user.nombre}}.
<br>
Su contraseña se ha reestablecido correctamente. Puede acceder a su cuenta con los siguientes datos, aunque le recomendamos que cambie su contraseña al acceder.
<br><br>
Usuario: {{user.email}}
<br>
Nueva contraseña: {{newPass}}
<br><br>
Saludos.</p>