{% extends 'inicio.twig' %}

{% block titulo 'Tienda :: Item' %}

	{% block contenido %}
		<select name="" id="">
			{% for i in 0..10 %}
				{% if loop.index is divisibleby(2) %}
					<option value="PAR" class="par">PAR</option>
				{% else %}
					<option value="IMPAR" class="impar">IMPAR</option>
				{% endif %}
			{% endfor %}
		</select>
	{% endblock %}