{% extends 'inicio.twig' %}

{% block titulo 'Tienda :: Cerrar sesión' %}
	
	{% block about %}{% endblock %}

	{% block contenido %}
		<div class="logout">
			<h2>Sesión cerrada</h2>
			<p>Gracias por su visita</p>
		</div>
	{% endblock %}