{% extends 'inicio.twig' %}

{% block titulo 'Tienda :: Mensaje' %}
	
	{% block about %}
		{{operation}}
	{% endblock %}

	{% block contenido %}
		<div class="logout">
			{{msg}}
		</div>
	{% endblock %}