{% extends 'inicio.twig' %}

{% block titulo 'Modificación de estilo' %}

	{% block action %}
			{{ msgoperacion }}
			<br>
			<a href="javascript:history.back()">Volver</a>
			<br>
			<a href="{{app.request.basepath}}/estilos">Lista de estilos</a>
	{% endblock %}