{% extends 'inicio.twig' %}

{% block titulo 'Modificación de pintor' %}

	{% block action %}
			{{ msgoperacion }}
			<br>
			<a href="javascript:history.back()">Volver</a>
			<br>
			<a href="{{app.request.basepath}}/pintores">Lista de pintores</a>
	{% endblock %}