{% extends 'inicio.twig' %}

{% block titulo 'Inserción de pintor' %}

	{% block action %}
			{{ msgoperacion }}
			<br>
			<a href="{{app.request.basepath}}/pintores">Lista de pintores</a>
	{% endblock %}