.showCarr{
	width:95%;
	height:500px;
	float:left;
	padding:0 12px 15px 0;
	display:inline;
}
.table-show-carr{
	border-top:1px solid #aaa;
	border-bottom:1px solid #aaa;	
	border-left:1px solid #aaa;	
	border-right:1px solid #aaa;	
	border-collapse: collapse;
	font-size: 12px;
}
.th-show-carr{
	background-color: #9DBFC8;
	font-size: 13px;
	padding: 0.2% 0.2% 0.2% 0.2%;
}
.td-show-carr{
	padding: 1% 1% 1% 1%;
	text-align: center;
}
.td-opt-carr{
	padding: 1% 1% 1% 1%;
	text-align: right	
}
.td-show-ped{
	padding: 1% 1% 1% 1%;
	text-align: center;
	border: 1px solid #aaa;	
	background-color: white;
}