{% extends 'inicio.twig' %}

{% block titulo 'TEST INDEX' %}


		{% block cabecera %}
		    	<h1>TSTINDEX - CABECERA</h1>
		{% endblock %}

		{% block action %}
		    	<h1>TSTINDEX - ACTION</h1>
		{% endblock %}