{% extends 'inicio.twig' %}

{% block titulo 'Museo :: Acerca De' %}

	{% block about %}
<h2>Acerca del Museo</h2>

	{% endblock %}

	{% block info %}
	{% endblock %}

	{% block contenido %}
<div class="login">
    <img src="http://www.museothyssen.org/img/imagenesEstaticas/acerca_del_museo/img-acercaDelMuseo.jpg"/>
    <br />
    <table >
       
    <p id="acerca">Creada en 1988, la Fundación Colección Thyssen-Bornemisza se convierte en España en pionera de una nueva fórmula de gestión privada de fondos públicos, cuya eficacia se puso de manifiesto desde la apertura del Museo en octubre de 1992. Desde entonces tanto el Museo como la Fundación que lo gestiona han crecido y evolucionado ampliando las colecciones e instalaciones con la incorporación en 2004 como préstamo a largo plazo de la Colección Carmen Thyssen-Bornemisza y con la ampliación del Palacio de Villahermosa e incrementando el número y variedad exposiciones temporales, programas didácticos y actividades. El equipo humano que hace posible el día a día de la institución se ha visto reforzado, pero han sido su empuje y motivación los motores del funcionamiento del Museo.
En todo su recorrido, el Museo ha puesto siempre un especial énfasis en su objetivo de difundir la Colección, con programas dirigidos a involucrar a todo tipo de públicos en su proyecto cultural. Este objetivo continúa vigente así como el de satisfacer la demanda de los visitantes y colaboradores bajo criterios de calidad e innovación constantes. La estrategia del Museo es alcanzar una gestión administrativa racionalizada, procurando maximizar la generación de ingresos y controlar los necesarios gastos que conlleva la realización de un intenso programa cultural así como garantizar las condiciones de las salas, el mantenimiento de las instalaciones y el nivel de servicios. El compromiso es ser una referencia de calidad en la oferta cultural española a través de una gestión transparente y eficiente.		
</p>
    </table>
</div>
	{% endblock %}








