{% extends 'plantilla.twig' %}

{% block titulo 'Inicio' %}

{% block contenido %}


	{% block action %}

	{% endblock %}
<div id="cont" class="cont">

    
<table>
					<tr>
					</tr>
					
						<tr>
							<td colspan="4">
								<table rules="all">
									
									<tbody>
										<tr>
											<td>
											el carrito esta vacio	
											
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					
				</table>
</div>

{% endblock %}
