{% extends 'inicio.twig' %}

{% block titulo 'Tienda :: Registro' %}
	
	{% block about %}
		<h2>Aqui se mostraran los pintores.</h2>
                <form method="POST" action="/museo/trunk/web/front/cuadros/buscar">
							<input type="text" name="cuadroFormName" placeholder="Busca un cuadro" />
							<input type="submit" name="form_buscar" id="form_buscar" value="Buscar">
						</form>		
	{% endblock %}

	{% block info %}
		<h2>Información:</h2>
		<p>Rellene el formulario de alta con sus datos.</p>
		<br>
		<p>Los datos personales son <span class="required">obligatorios</span>, los datos bancarios podrá rellenarlos más adelante.</p>
		<br>
		<p id="info"></p>
	{% endblock %}

	{% block contenido %}
		<div class="login">
			<table>
					<tr>
					</tr>
					{% for cuadro in cuadros %}
						<tr>		
							<tr>
                                                                   <td>
                                                                         <img src="http://localhost/museo/trunk/web/img/cuadros/{{cuadro.nombreCuadro}}/{{cuadro.foto}}"/>
                                                                    </td>
								<td>												
												{{cuadro.nombreCuadro}}												
								</td>
                                                                <td>												
												{{cuadro.descripcionCuadro}}												
								</td>
							</tr>
								
						
					{% endfor %}
				</table>			
		</div>
	{% endblock %}








