{% extends 'plantilla.twig' %}

{% block titulo 'Museo' %}

{% block contenido %}

<div id="cont" class="cont">
    

    <div id="action" class="action">
<table>
					<tr>
					</tr>
					{% for pintor in pintores %}
						<tr>
							<td colspan="4">
								<table rules="all">
									
									<tbody>
										<tr>
											<td>
												
												{{pintor.nombrePintor}}<br />
												<img src="{{pintor.fotoPintor}}"/>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					{% endfor %}
				</table>
    </div>
</div> 

{% endblock %}