<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	<title>{% block titulo '' %}</title>
	<link rel="stylesheet" href="{{app.request.basepath}}/assets/css/style.css">
</head>
<body>
	{% block contenido %}{% endblock %}
</body>
</html>