<!DOCTYPE html>
<html>
    <head>
        <title>{% block titulo '' %}</title>
        {% block estilos %}
        <link href="" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    <body>
        {% block contenido %}{% endblock %}
    </body>
</html>