

div.titulo{
    position:fixed;
    width:432px;
    left:30%;
    height:12%;
    //border: 2px solid #9EC0C8;
    color: #000000;
    
}

div.panelcontrol{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    position:block;
    width:430px;
    height:auto;
    right:0%;
    top:0%;
    border: 1px solid #000;
    background-color:#FFFFFF;
    
}

ul.listaControl li{
    display: inline;
    list-style-type: none;
    padding-right:10px;
    
}


div.cont{
    position:center;
    width:431px;
    height: auto;
    top:0%;
    bottom:0%;
    right:0%;
    left:0%;
}

li:hover{
	background-color: #DEDEDE;
	//border-top: 15px solid #FFFFFF;
        //border-bottom: 5px solid #000000;
	color: #FFFFFF;
}
 #slides {
      display:none;
    }

